.container {
    max-width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.container>.card {
    display: inline;
    width: 22rem;
    margin: 1rem 0.5rem;
    background-color: rgba(255, 255, 255, 0.1);
}

.card-body{
    height: 6rem;
}

.card-title {
    color: seashell;
}

.card:hover * {
    cursor: pointer;
    color: skyblue;

}
